# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# =========================
# Conda
# =========================
.envs/
*.conda
*.env

# =========================
# Unity
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# ML-Agents / training outputs
# =========================
results/
models/
summaries/
*.onnx
runs/

# =========================
# VS / IDE
# =========================
.vscode/
.idea/
*.csproj
*.sln